/* importa fonts personalizadas */
@import url('https://fonts.cdnfonts.com/css/galpon');
@import url('https://fonts.cdnfonts.com/css/oligopoly');
/* define font family y colores para usar en la pagina */
body{
   font-family: 'Galpon', sans-serif;
   color: #5d5d4f;
   background-color: #0C0A3E;
}
/* cambia de color el boton consultar */
.btn-outline-danger{
   background: rgb(223,26,26);
   color: #ffe501;
}
/* cambia de color el boton consultar al hacerle hover */
.btn-outline-danger:hover{
   background: #ffe501;
   color: rgb(223,26,26);
}
/* define el font a usar en la card, define su background a transparente y el color a blanco */
#card{
   font-family: 'Oligopoly', sans-serif;
   background-color: transparent;
   color: white;
}
/* define color a la navbar */
.navbar{
   background-color: transparent;
}
/* cambia de color el texto en la navbar */
.color{
   color: #5d5d4f;
}
/* aumenta el tamaño del emoji que aparece al dar error el grafico */
.emoji{
   font-size: 18rem;
}
/* mediaquery que evita que la imagen del card exeda los 12rem a resoluciones menores a 768px */
@media (max-width: 768px) {
   #img {
      max-width: 12rem;
   }
}